@charset "UTF-8";
/*--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .ibg img {
    display: none; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-list {
    overflow: hidden; }
  .slick-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .slick-slider .slick-dots {
    padding: 100px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .slick-slider .slick-dots li {
      margin: 0px 5px; }
      .slick-slider .slick-dots li button {
        font-size: 0;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid #c8c8c8;
        background-color: rgba(40, 47, 53, 0); }
      .slick-slider .slick-dots li.slick-active button {
        background-color: #a9afb3; }

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px; }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 85px; }
  .header__logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    z-index: 2; }
  @media (max-width: 767px) {
    .header {
      top: 15px; } }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__list li {
    position: relative;
    padding: 0px 37.5px; }
    .menu__list li:nth-child(2) {
      padding: 0px 110px 0px 37.5px; }
    .menu__list li:nth-child(3) {
      padding: 0px 37.5px 0px 110px; }
    .menu__list li:after {
      content: "";
      width: 2px;
      height: 2px;
      background-color: #4d4959;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      margin: -1px 0px 0px 0px; }
    .menu__list li:nth-child(2):after, .menu__list li:last-child:after {
      display: none; }

.menu__link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959; }

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0px 20px 0px;
    -webkit-transform: translate3d(0px, -100%, 0px);
    transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .menu__body.active {
      -webkit-transform: translate3d(0px, 0%, 0px);
      transform: translate3d(0px, 0%, 0px); }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu__list li {
      padding: 0 0 45px 0; }
      .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
        padding: 0 0 45px 0; }
        .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
          display: block; }
      .menu__list li:last-child {
        padding: 0; }
      .menu__list li:after {
        width: 4px;
        height: 4px;
        background-color: #fff;
        right: 50%;
        top: 40px;
        margin: -2px 0px 0px 0px; }
  .menu__link {
    color: #fff;
    font-size: 20px; } }

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 24px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5; }
    .icon-menu span {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000; }
      .icon-menu span:first-child {
        top: 0; }
      .icon-menu span:last-child {
        top: auto;
        bottom: 0px; }
    .icon-menu.active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      background-color: #fff; }
      .icon-menu.active span:first-child {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px; }
      .icon-menu.active span:last-child {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 8px; } }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative; }

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.wrapper {
  overflow: hidden;
  min-height: 100%; }

.conteiner {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0 auto; }

.generation {
  padding: 120px 0;
  background-color: #f7f7f7; }
  @media (max-width: 900px) {
    .generation {
      padding: 80px 0; } }
  @media (max-width: 600px) {
    .generation {
      padding: 30px 0; } }

.block {
  text-align: center; }
  .block__icon {
    margin: 0px 0px 30px 0px; }
  .block__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    margin: 0px 0px 18px 0px; }
  .block__text {
    font-size: 18px;
    line-height: 34px;
    color: #848789; }
    .block__text_j {
      text-align: justify;
      font-size: 16px;
      line-height: 30px; }
      .block__text_j:after {
        content: "";
        display: block;
        margin: 35px auto 0px auto;
        width: 50px;
        height: 1px;
        background-color: #d7d7d7; }
  @media (max-width: 1500px) {
    .block__text_j:after {
      margin: 15px auto 0px auto; } }

.brends_rev .brends__column {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }
  .brends_rev .brends__column_b {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }

.brends__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.brends__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%; }
  .brends__column_b {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 66.667%;
    flex: 0 1 66.667%; }

.brends__content {
  padding: 70px 65px 55px 65px;
  position: relative; }
  .brends__content:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin: 0px 0px 0px -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid red; }

.brends__image {
  padding: 0px 0px 38% 0px; }

@media (max-width: 1500px) {
  .brends__content {
    padding: 40px 35px 35px 35px; } }

@media (max-width: 1100px) {
  .brends__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.item {
  height: 100%;
  display: block;
  position: relative; }
  .item__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(100, 194, 158, 0.5);
    z-index: 2;
    opacity: 0;
    visibility: hidden; }
    .item__logo span {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      color: #fff; }
  .item__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .item:hover .item__logo {
    opacity: 1;
    visibility: visible; }
  @media (max-width: 1100px) {
    .item {
      height: auto;
      padding: 0px 0px 70% 0px; } }

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px 0; }
  .slider__item {
    text-align: center; }
  .slider__icon {
    margin: 0px 0px 35px 0; }
  .slider__title {
    margin: 0px 0px 20px 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #353738; }
    .slider__title span {
      font-weight: 300;
      color: #848789; }
  .slider__text {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
    color: #848789; }

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.shop__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 16.667%;
  flex: 0 1 16.667%; }
  .shop__column_b {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%; }

.shop__footer {
  background-color: #282f35;
  padding: 75px 0px;
  text-align: center; }

.shop__btn {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  letter-spacing: 2.8px;
  color: #fff;
  padding: 0px 60px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.49); }

@media (max-width: 1100px) {
  .shop__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .shop__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    .shop__column:first-child {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
    .shop__column:last-child {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
  .shop__btn {
    padding: 0px 20px; } }

.block-shop {
  height: 100%; }
  .block-shop__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .block-shop__item {
    padding: 0px 0px 50% 0px;
    height: auto; }
    .block-shop__item_b {
      padding: 0px 0px 200.5% 0px; }
    .block-shop__item_l {
      padding: 0px 0px 100% 0px; }
  .block-shop__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }

.subscribe__body {
  padding: 110px 0px;
  max-width: 534px;
  margin: 0 auto;
  text-align: center; }

.subscribe__logo {
  margin: 0px 0px 39px 0px; }

.subscribe__label {
  font-size: 24px;
  font-style: italic;
  color: #848789;
  margin: 0px 0px 35px 0px; }

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.subscribe__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0px 8px 0px 0px; }
  .subscribe__input .input {
    width: 100%;
    height: 69px;
    background-color: #ffffff;
    border: 1px solid #d3d7d9;
    padding: 0px 28px;
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
    color: #929292; }
    .subscribe__input .input.focus {
      font-style: normal;
      color: #333; }
    .subscribe__input .input.err {
      border: 1px solid red; }

.subscribe__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 126px;
  flex: 0 0 126px; }

.subscribe__btn {
  width: 126px;
  height: 69px;
  line-height: 69px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #64c29e; }

.footer {
  background-color: #f7f7f7; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 100px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f7f7f7; }
  .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%; }
  .footer__address {
    font-size: 14px;
    line-height: 17px;
    color: #848789; }
    .footer__address p:first-child {
      font-weight: 700; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__dev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  @media (max-width: 1100px) {
    .footer {
      padding: 50px 0px; } }
  @media (max-width: 600px) {
    .footer {
      padding: 20px 0px; }
      .footer__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 20px 0px; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .social__link {
    margin: 0px 7.5px; }

.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .dev_text {
    color: #848789;
    font-size: 14px;
    font-style: italic;
    padding: 0px 9px 0px 0px; }
